<div class="owl-carousel">
  <div class="item">
    <div class="profile p-3">
      <div class="ProfilePic">
        <img src="./assets/images/avanthika2.jpg" class="img-fluid w-100 my-auto">
      </div>
      <div class="bg-white ProfileDetail">
        <div class=" name"><b>Thenmozhi</b></div>
        <sup><i>Strait forward girl</i></sup>
        <div class="bio-data">
          <div class="personal-sec">
            <h3>Bio</h3>
            <ul class="list-unstyled ">
              <li>29/07/1989</li>
              <li>5'11"</li>
              <li>Libra</li>
              <li>Revathi</li>
              <li>B.Tech, IT</li>
              <li>Soft. Engg</li>
            </ul>
          </div>
          <div class="personal-sec">
            <h3>Favourites</h3>
            <ul class="list-unstyled ">
              <li>Music/Movies</li>
              <li>Chess</li>
              <li>Travel</li>
              <li>Jamun</li>
              <li>Pasta</li>
              <li>Books</li>
            </ul>
          </div>
        </div>
        <button class="btn btn-theme btn-lg btn-block send-request">send request</button>
      </div>
    </div>
  </div>

</div>
