@import 'src/scss/_vars.scss';
.footer-comp {
  a {
    color: $Dark;
  }
  background: $Lavender;
  .subscribe {
    margin-top: -30px;
    .subscribe-form {
      border-radius: 40px;
      background: #fff;
      padding: 3px;
      -webkit-box-shadow: 0px -12px 21px -15px rgb(0 0 0 / 10%);
      -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px -12px 21px -15px rgb(0 0 0 / 10%);
      .form-group {
        position: relative;
        margin-bottom: 0;
        border-radius: 0;
         input {
          background: transparent !important;
          border: none !important;
          outline: none !important;
          color: rgba(0, 0, 0, 0.3) !important;
          font-size: 16px;
          height: 56px;
          border-radius: 0;
          margin-bottom: 0;
      }
      .submit {
        color: #fff !important;
        display: block;
        width: 150px;
        height: 56px;
        font-size: 14px;
        background: #bfa88e !important;
        border: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 40px;
    }
    }
  }
  }
}
