<div class="footer-comp">
  <div class="container mb-0">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6">
        <div class="subscribe mb-5">
          <form action="#" class="subscribe-form needs-validation" novalidate="">
            <div class="form-group d-flex">
              <input type="email" class="form-control rounded-left" placeholder="Enter email address" required="">
              <input type="submit" class="form-control submit px-3 theme-pnb">
              <div class="invalid-feedback top-100 text-white">
                Please provide a valid email.!
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-5">
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
            <h2 class="footer-heading"><a href="#"><img src="../../assets/images/logo.svg" alt="footer-logo" class="img-fluid"></a></h2>
            <p class="opacity-75">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
            <a href="#" class="text-dark">read more <span class="ion-ios-arrow-round-forward"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-7">
        <div class="row">
          <div class="col">
            <h2 class="footer-heading">Discover</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Deposit</a></li>
              <li><a href="#" class="py-1 d-block">Loan</a></li>
              <li><a href="#" class="py-1 d-block">Debit Card</a></li>
              <li><a href="#" class="py-1 d-block">General Meeting of Shareholders</a></li>
            </ul>
          </div>
          <div class="col">
            <h2 class="footer-heading">About</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Financing and Credit Facility</a></li>
              <li><a href="#" class="py-1 d-block">Payment and Settlement</a></li>
              <li><a href="#" class="py-1 d-block">Agro-related Personal Products</a></li>
              <li><a href="#" class="py-1 d-block">Agro-related Corporate Products</a></li>
            </ul>
          </div>
          <div class="col">
            <h2 class="footer-heading">Resources</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Investment Value</a></li>
              <li><a href="#" class="py-1 d-block">Corporate Announcements</a></li>
              <li><a href="#" class="py-1 d-block">Development Strategies</a></li>
              <li><a href="#" class="py-1 d-block">PrivCompetitive Strengthsacy</a></li>
            </ul>
          </div>
          <div class="col">
            <h2 class="footer-heading">Social</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Facebook</a></li>
              <li><a href="#" class="py-1 d-block">Twitter</a></li>
              <li><a href="#" class="py-1 d-block">Instagram</a></li>
              <li><a href="#" class="py-1 d-block">Googleplus</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row partner-wrap text-center">
      <div class="col-md-12 my-3">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 text-wrap underline mb-3">Our Partner:</h3>
            <p class="partner-name mb-0">
              <a href="#"><i class="fa-brands fa-digg"></i></a>
              <a href="#"><i class="fa-brands fa-drupal"></i></a>
              <a href="#"><i class="fa-brands fa-stumbleupon"></i></a>
              <a href="#"><i class="fa-brands fa-pied-piper"></i></a>
              <a href="#"><i class="fa-brands fa-slack"></i></a>
              <a href="#"><i class="fa-brands fa-yahoo"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 col-lg-8">
        <p class="copyright opacity-50">
          Copyright <i class="fa-solid fa-copyright"></i> 2022 All rights reserved
        </p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <p class="mb-0 list-unstyled ">
          <a class="mr-md-3 text-dark opacity-50" href="#">Terms</a>
          <a class="mr-md-3 text-dark opacity-50" href="#">Privacy</a>
          <a class="mr-md-3 text-dark opacity-50" href="#">Compliances</a>
        </p>
      </div>
    </div>
  </div>
</div>
