@import 'src/scss/_vars.scss';
.footer-comp {
  margin-top: 6rem;
  background: rgb(25 25 112 / 5%);
  -webkit-box-shadow: $ShadowStrong;
      -moz-box-shadow: $ShadowStrong;
      box-shadow: $ShadowStrong;
  a {
    color: $BaliHai;
    text-decoration: none;
    font-size: 1.3rem;
    &:hover {
      color: $Dark;
    }
  }
  // background: $AliceBlue;
  color: $BaliHai;
  .subscribe {
    margin-top: -30px;
    .subscribe-form {
      border-radius: 40px;
      background: #fff;
      padding: 3px;
      -webkit-box-shadow: $ShadowStrong;
      -moz-box-shadow: $ShadowStrong;
      box-shadow: $ShadowStrong;
      .form-group {
        position: relative;
        margin-bottom: 0;
        border-radius: 10rem;
        padding: 0.2rem;
         input {
          background: transparent !important;
          border: none !important;
          outline: none !important;
          color: rgba(0, 0, 0, 0.3) !important;
          height: 56px;
          border-radius: 0;
          margin-bottom: 0;
      }
      .submit {
        color: #fff !important;
        display: block;
        width: 150px;
        height: 56px;
        background: $PrussianBlue !important;
        border: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 40px;
    }
    }
  }
  }
  .footer-heading {
    color: $Dark;
  }
}
