<div class="Recent">
  <div class="profile card p-3">
  <div class="row px-4">
      <div class="col-xs-12 col-sm-6 p-0 ProfilePic">
        <img src="./assets/images/avanthika2.jpg" class="img-fluid w-100 my-auto">
      </div>
      <div class="col-xs-12 col-sm-6 p-0 bg-white ProfileDetail">
        <div class="card-body">
          <h2 class="card-title name"><b>Thenmozhi</b></h2>
          <sup><i>Strait forward girl</i></sup>
          <div class="row bio-data">
            <div class="col">
              <h3>Bio</h3>
              <ul class="list-unstyled card-text">
                <li>29/07/1989</li>
                <li>5'11"</li>
                <li>Libra</li>
                <li>Revathi</li>
                <li>B.Tech, IT</li>
                <li>Soft. Engg</li>
              </ul>
            </div>
            <div class="col">
              <h3>Favourites</h3>
              <ul class="list-unstyled card-text">
                <li>Music/Movies</li>
                <li>Chess</li>
                <li>Travel</li>
                <li>Jamun</li>
                <li>Pasta</li>
                <li>Books</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-theme btn-lg btn-block send-request">send request</button>
    </div>
  </div>
</div>
