@import 'src/scss/_vars.scss';

.Recent {
  // box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  .profile {
    border-radius: 3rem;
    max-width: 52rem;
    border: $Border !important;
    .row {
      .ProfilePic {
        .img-fluid {
          border-radius: 2rem;
          box-shadow: $ShadowStrong;
          position: relative;
          z-index: 2;
        }
      }
      .ProfileDetail {
        border-radius: $ProfileDetailRadius;
        .name {
          text-transform: capitalize;
        }
        .bio-data {
          li {
            font-size: 1.4rem;opacity: 0.6;
          }
        }
      }
      .btn-theme {
        background: $Primary;
        color: $White;
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 2rem;margin-top: 1rem;
    }
    }
  }
}
@media (min-width:769px) {
  .Recent {
    border: $Border;
    padding: 0rem 3rem;
    border-top: 0;border-bottom: 0;
  }
}
@media (max-width:768px) {

  .ProfileDetail {
    border-radius: 0 !important;
  }
}
