@import '../../scss/_vars.scss';

.container-fluid{

	.Banner {
	background: $Lavender;
	}
	.row{
		.col-sm {
			.Greeting_msgDiv{
				.Greeting_title {
          font-family: LoveLight;
          font-weight: 900;
					// font-family: Romantica !important;
					text-shadow: 4px 6px 16px $Primary, 4px 5px 0px rgba(255,255,255),-4px 5px 0px tomato,5px 5px 0px tomato;
					color: $White;
					padding-top: 60px;
          .Greetings_ {
            color: tomato !important;
            margin-right: 1rem;
					}
				}
				.Greeting_msg {
          font-family: LoveLight;
					// font-family: 'Lovers Quarrel', cursive;
					font-size: 2rem;
          font-weight: 600;
          opacity: 0.5;
				}
				.btn-make-pair {

					color: $White;
					font-family: PortLight !important;
					font-size: 1.6rem;
          transition: all 200ms ease-in-out;
          text-transform: uppercase;
					&:hover{
						color: $Primary;
						background: $White;
					}
				}
		}
		}
    .wrap-flex {
      flex-wrap: wrap;
    }
    .allience-for {
      padding: 10rem 1.5rem;
      .wrap-flex {
        gap: 1.5rem;
        .form-check {
          min-width: 13rem;

        }
      }
    }
	}
	.PreferenceRow {
		background: $WhiteSmoke;
    h2 {
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
      margin: 2rem 0;
      border-bottom: 2px solid #000;
      display: inline-block;
    }
	}
}

@media only screen and (min-width: 992px) {
	.Greeting_msgDiv{
    position: absolute;
		top: 50%;
		transform: translateY(-50%);
    padding: 20%;
	}

}


[type=radio]:checked + label::before {
  content: '♥';
  display: block;
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: 0rem 0.2rem 0.4rem rgba(129, 161, 255, 0.5);
  color: $Primary;
  font-size: 2rem;
}
[type=radio]:not(:checked) + label::before {
  // border-radius: 100%;
  color: $White;
}
[type=radio]:checked + label span {
  color: $Primary;
   text-shadow: 0rem 0.2rem 0.4rem rgba(129, 161, 255,0.5);
}
