<div class="container-fluid border-top">
  <div class="row Banner">
    <div class="col-sm position-relative">
      <img src="./assets/images/couple.png" class="img-fluid w-100 my-auto">
    </div>
    <div class="col-sm mt-4">
      <div class="Greeting_msgDiv">
        <h1 class="display-1 Greeting_title text-center"><span class="Greetings_">Greeting from</span> matrimony</h1><br>
        <p class="Greeting_msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry’s standard dummy text ever since the
        when an unknown  printer took a galley of type and scrambled it to make
        a type specimen book. </p>
        <button type="button" class="btn btn-make-pair px-4 py-2">Make a pair</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col p-4">
      <h2>Looking for</h2>
      <div class="LookingFor d-flex justify-content-center">
        <img src="./assets/images/logo.svg" width="200px" class="img-fluid">
        <img src="./assets/images/logo.svg" width="200px" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col p-4">
      <h2>For</h2>
      <div class="d-flex justify-content-around wrap-flex">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Myself
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Son
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Daughter
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Brother
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Sister
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Friend
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row PreferenceRow">
    <div class="col-xs-12 col-sm-3">
      <h2>Preferences</h2>
      <app-preferences></app-preferences>
    </div>
    <div class="col-xs-12 col-sm-9">
      <h2>Recent</h2>
      <app-recent></app-recent>
    </div>
  </div>
</div>
