@import '../../scss/_vars.scss';

.container-fluid{

	.Banner {
	background: $Lavender;
	}
	.row{
		.col-sm {
			.Greeting_msgDiv{
				.Greeting_title {
					font-family: Romantica !important;
					text-shadow: 4px 6px 7px rgba(0,0,0,0.3);
					color: $PrussianBlue;
					padding-top: 60px;
						.Greetings_ {
						color: $SunsetOrange !important;
            margin-right: 1rem;
					}
				}
				.Greeting_msg {
					font-family: LoveLight;
					font-size: 2.5rem;
				}
				.btn-make-pair {
					background: $SunsetOrange;
					color: $White;
					font-family: PortLight !important;
					font-size: 1.6rem;
          transition: all 200ms ease-in-out;
          text-transform: uppercase;
					&:hover{
						color: $PrussianBlue;
						background: $White;
					}
				}
		}
		}
    .wrap-flex {
      flex-wrap: wrap;
    }
    .allience-for {
      padding: 10rem 1.5rem;
      .form-check {
        min-width: 13rem;
      }
    }
	}
	.PreferenceRow {
		// background: $WhiteSmoke;
	}
}

@media only screen and (min-width: 992px) {
	.Greeting_msgDiv{
    position: absolute;
		top: 50%;
		transform: translateY(-50%);
    padding: 20%;
	}

}
