$DarkPurple: #f54a3a;
$ThemeRed: #012162;
$IconBlack: #000000;
$Bannerbg: #F7FBFE;
$Textlight: #888888;
$White: #ffffff;
$themeSecondary: linear-gradient(#fcb214,#f54a3a);
$PreferenceRadiusTop: 20px 20px 0px 0px;
$PreferenceRadius: 20px 20px 20px 20px;
$PreferenceRadiusBottom: 0px 0px 20px 20px;
$PreferenceBg: #F7F7F7;
$preferenceBoxShadow: 0px 0px 8px 2px $Bannerbg;
$profilePicRadius: 20px 0px 0px 20px;
$ProfileDetailRadius: 0px 20px 20px 0px;
