/* You can add global styles to this file, and also import other style files */
@import '../scss/_vars.scss';

@font-face {
  font-family: Solway;
  src: url("../assets/fonts/Solway-Regular.ttf") format("opentype");
}
@font-face {
  font-family: PortLight;
  src: url("../assets/fonts/PortLligatSlab-Regular.ttf") format("opentype");
}
@font-face {
  font-family: LoveLight;
  src: url("../assets/fonts/LoveLight-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Romantica;
  src: url("../assets/fonts/Romantica.ttf") format("truetype");
}
body {
  font-family: Solway !important;
  background: $Lavender;
  font-size: $BaseFont;
  line-height: $BaseLineHeight;
}

html, body { height: 100%; }
body { margin: 0; }
input:focus {
  box-shadow: none !important;
}
@media (max-width:768px) {
  .navbar-nav .nav-link {
    font-size: 60% !important;
  }
  .Greeting_title {
    font-size: 4rem;
  }
}
