/* You can add global styles to this file, and also import other style files */
@import '../scss/_vars.scss';

@font-face {
  font-family: Solway;
  src: url("../assets/fonts/Solway-Regular.otf") format("opentype");
}
@font-face {
  font-family: Oxtail;
  src: url("../assets/fonts/Oxtail.otf") format("opentype");
}
@font-face {
  font-family: 'Love Light', cursive;
  src: url("../assets/fonts/LoveLight-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Romantica;
  src: url("../assets/fonts/Romantica.ttf") format("truetype");
}
body {
  font-family: Solway !important;
}

html, body { height: 100%; }
body { margin: 0; }
input:focus {
  box-shadow: none !important;
}
